<div class="form-group">
  <input
    type="text"
    class="form-control"
    placeholder="Search By Name"
    style="width: 300px"
    [(ngModel)]="searchTerm"
  />
</div>
<h1 *ngIf="dataFromChild">
  {{ dataFromChild?.name + "" + dataFromChild?.gender }}
</h1>
<div *ngFor="let employee of employees | employeeFilter: searchTerm">
  <!-- <div (click)="onClick(employee.id)" class="pointerCursor"> -->
    <app-display-employee
      [employee]="employee" [searchTerm]="searchTerm"
      (notify)="handleNOtify($event)"
    ></app-display-employee>
  <!-- </div> -->
</div>

<!-- <button class="btn btn-primary" (click)="nextEmployee()">
  Move Next
</button>
<br /><br /><br />

<div class="card bg-primary">
  <app-display-employee [employee]="displayEmployee"[employeeId]="displayEmployee.id" ></app-display-employee>
</div> -->
